  <h1>Pokedex</h1>
    <div >
<div class="navbar-form navbar-center">
  <div class="form-group">
<input type="text" class="form-control" placeholder="Recherche" ng-model="resultat">
</div>
<button type="button" ng-click="search(resultat)" ui-sref="search({name:resultat})" class="btn btn-default">Rechecher</button>

</div>

      <div class="row">
        <div   style="padding:10px;" dir-paginate="Card in pokedexData | orderBy:'nationalPokedexNumber'| unique:'nationalPokedexNumber' | itemsPerPage: 12" class="col-lg-3 text-center zoom">
          <a ui-sref="getPokedexDetail({id:Card.id})" ui-sref-active="active"><img ng-src="{{Card.imageUrl}}"></a>
        </div>
      </div>

      <dir-pagination-controls></dir-pagination-controls>

    </div>
	
