

<section >
    <h2>Precision</h2>
    Nom :  <input ng-model="eleve.Nom">
    Prenom  <input ng-model="eleve.Prenom">
    Mail <input ng-model="eleve.Mail">
    Javascript  <input ng-model="eleve.Javascript">
    Pourquoi_A  <input ng-model="eleve.Pourquoi_A">
    Pourquoi_S  <input ng-model="eleve.Pourquoi_S">
    app_pref  <input ng-model="eleve.app_pref">
    before_IFA  <input ng-model="eleve.before_IFA">
    site_pref  <input ng-model="eleve.site_pref">

    <button ng-click="updateEleve(eleve)"  > edit </button>
       
</section>