  <div>
    <div container>

      <h1>Boutique</h1>

      <div class=" col-lg-4">
        <img src="assets/media/x1.png" alt="">
        <button class="btn btn-default">100 pokedollars </button>
      </div>

      <div class=" col-lg-4">
        <img src="assets/media/x3.png" alt="">
        <button class="btn btn-default">300 pokedollars </button>
      </div>

      <div class=" col-lg-4">
        <img src="assets/media/x5.png" alt="">
        <button class="btn btn-default">500 pokedollars </button>  
      </div>

    </div>
	</div>
